<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>link</string>
				<string>LINK</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/link</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Link</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.lowtechguys.startup-folder-link</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://files.lowtechguys.com/startupfolder/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>lqnO6tg2A9evTIFo2SC9ArZ6NS84gtBshcAWdwh12xQ=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Link</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>link</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.lowtechguys.startup-folder-link</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>link</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/link</string>
				</array>
			</dict>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
